/* usare lolcolors; font, favicon */

body {
    font-family: 'Roboto';
    background-color: #34314c;
    margin: 0px;
}

a {
    color: #ffc952;
}

.card {
    background-color: #47b8e0;
    padding: 50px;
    margin: 50px;
    border-radius: 10px;
    width: 70vw;
    max-width: 500px;
    min-width: 350px;
}

.fas, .fab {
    font-family: 'FontAwesome';
    font-style: normal;
    width: 1.2em;
    display: inline-block;
}

.picture {
    width: 5rem;
    height: auto;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: auto 20px;
    border: 2px solid #ff7473;
}

header {
    white-space: nowrap;
    padding-bottom: 12px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 576px) {
    .card {
        margin-left: 0px;
        margin-right: 0px;
        width: calc(100vw - 100px);
        min-width: calc(100vw - 100px);
        max-width: calc(100vw - 100px);
        border-radius: 0px;
        border: 0px;
    }

    body, html {
        width: 100vw;
        min-width: 100vw;
        max-width: 100vw;
    }

    .picture {
        display: block;
    }
}
